@inject IJSRuntime _JsRuntime
<h3>_ChildComponent</h3>

<div>
    <div class="alert alert-info">@Title</div>
    <div class="alert alert-success">
        @if (ChildContent is not null)
        {
            <span>@ChildContent</span>
        }
        else 
        {
            <span> Default content! </span>
        }
    </div>
    <div class="alert alert-danger">
        @if (DangerChildContent is not null)
        {
            <span>@DangerChildContent</span>
        }
        else
        {
            <span> Default DANGER content! </span>
        }
    </div>

    <button class="btn btn-danger" @onclick = "OnButtonClick" >Button to be clicked</button>

    <_GrandChildComponent/>
</div>

@code {


    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }

    public async Task ToastrSuccess()
    {
        await _JsRuntime.ToastrSuccess("Operation Successful");
    }

}
