@page "/learnBlazor/parentComponent"

<h3>Parent / Child Relation</h3>
<p><strong>@MessageText</strong></p>
<CascadingValue Value=@MessageForGrandChild Name="message">
    <CascadingValue Value=@LuckyNumberForGrandChild Name="luckyNumber">
        <_ChildComponent Title="This title is passed from parent component to child as a parameter" OnButtonClick="ShowMessage">
            <ChildContent>
                Some content as a RenderFragment form parent!!
            </ChildContent>
            <DangerChildContent>
                DANGER content as a RenderFragment form parent!!
            </DangerChildContent>
        </_ChildComponent>
    </CascadingValue></CascadingValue>

<_ChildComponent 
    Title="Second child component"
    OnButtonClick="ShowMessage2"
>
Not much here..
</_ChildComponent>

<_AnotherChildComponent placeholder="Placeholder from Parent" />

<_AnotherChildComponent/>

    

    
@code {
    public string MessageForGrandChild { get; set; } = "This message is from your grandparent (_ParentComponent)";

    public string LuckyNumberForGrandChild { get; set; } = "7";

    public string MessageText { get; set; } = "";

    private void ShowMessage()
    {
        MessageText = "Button clicked on first child";
    }

    private void ShowMessage2()
    {
        MessageText = "Button clicked on second child";
    }
}
