@page "/orderlist"
@inject IOrderRepository _orderRepository
@inject NavigationManager _navigationManager

<div>
    <h4 class="card-title text-info">Order list</h4>
</div>



@code {
    private IEnumerable<OrderHeaderDTO> OrderHeaders { get; set; } = new List<OrderHeaderDTO>();
    private bool IsLoading { get; set; } = false;

    protected override  async Task OnAfterRenderAsync(bool firstRender)
    {

        if (firstRender)
        {
            await LoadOrders();
        }
    }

    private async Task LoadOrders()
    {
        IsLoading = true;
        StateHasChanged();

        var orders = await _orderRepository.GetAll();
        OrderHeaders = orders.Select(u => u.OrderHeader);

            IsLoading = false;
            StateHasChanged();
    }

}
